body {
  font-family: Arial;
}

header {
  background: #10b981;
  color: white;
  padding: 15px;
}

#products {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  width: 180px;
}

.card img {
  width: 100%;
}

.badge {
  background: green;
  color: white;
  font-size: 12px;
}

.strike {
  text-decoration: line-through;
  color: red;
}